body {
	margin: 0px;
	font-family: Georgia, serif;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	background: #FC8B0A;
}

.header a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.header a:hover {
	background: #D87606;
}

.flexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px;
}

.flexChild {
	border: 5px solid black;
	margin: 5px;
	text-align: center;
}

.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	list-style: none;
	margin-top: auto;
	background: #0277FC;
}

.footer a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.footer a:hover {
	background: #0868D6
}

p {
	background-color: orange;
}

h1, h3, h4, p {
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome, Opera and Firefox */
}

@media all and (max-width: 800px) {
	.header, .footer {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.header, .footer {
		flex-flow: column wrap;
		padding: 0;
	}
	.header, a, .footer a {
		text-align: center;
		padding: 10px;
	}
	.header, li:last-of-type a, .footer li:last-of-type a {
		border-bottom: none;
	}
}
